@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2C3EB;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  background-size: cover;
  color: #fff;
  background-position: center;
  transition: all 500ms ease-in-out;
}

.slide h3 {
    font-size: 24px;
    display: flex;
    height: 74vh;
    padding-left: 2vh;
    padding-bottom: 1vh;
    align-items: flex-end;
    opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
} 